<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Replace with your actual connection string -->
    <add name ="DefaultConnection" connectionString="Data Source=your_server_name_here;Initial Catalog=PerchTest;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>